<h1 class="text-center">Edit Recipe</h1>
<p class="text-center">
  NOTE: old ingredients <b>cannot be deleted</b>, but new can be added
  </p>

<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2 class="h2-error"> oops, the following errors occured:</h2>
    <% @recipe.errors.full_messages.each do |msg| %>
      <p><%= msg %>!</p>
    <% end %>
  </div>
<% end %>

<%= form_for @recipe, url: {action: "update", params: {id: @recipe.id}} do |f|%>
<div class="text-center">
<h3>Recipe Name</h3>
  <div class="row">
    <%= f.text_field :name %>
  </div>
<br>
<h3>Description</h3>
  <div class="row">
    <%= f.text_area :description,  :rows => 3, style: 'width:75%;' %>
    </div>
<h3>Directions</h3>
  <div class="row">
    <%= f.text_area :directions,  :rows => 6, style: 'width:75%;' %>
  </div>
  <br>
  <%= f.submit 'Update Recipe', :class => "btn btn-primary btn-lg"%>
</div>
<% end %>
