<h1><%= @recipe.name %></h1>
<p>Upvotes: <%=@recipe.upvotes%>
      <%= link_to "INSERT UPVOTE ICON", { :controller => 'recipes',  :action=>"upvote",
      :recipe_id => @recipe.id} , :method => :post%> </p>
<h3>Description:</h3>
<p><%= @recipe.description %></p>
<h3>Directions:</h3>
<p><%= @recipe.directions %></p>
<h3>Ingredients:</h3>
<% for r in @recipe.recipe_ingredients %>
  <p><%= link_to r.ingredient.name, recipe_ingedient_ingredient_path(r.ingredient, r)%></p>
  <p>Quantity: <%= r.quantity%></p>
<% end %>
