<div class="row outlined-section">
  <h1><%= @recipe.name %>
  <% if @recipe.user_id == @current_user.id %>
    <%= link_to "Edit", { :controller => 'recipes',  :action=>"edit",
       :id => @recipe.id}, :class => "btn btn-outline-info fas fa-edit" %>
    <%= link_to "Delete", { :controller => 'recipes',  :action=>"destroy",
       :id => @recipe.id} , :method => :delete, :class => "btn btn-outline-warning fas fa-trash-alt" %>
  <% end %> </h1>

  <h4><b>Upvotes: <%=@recipe.upvotes%> </b></h4>
  <h5>Created By: <%= link_to @recipe.user.name, user_recipes_path(@recipe.user_id) %></h5>
  <h3>Description:</h3>
  <p><%= @recipe.description %></p>
  <h3>Directions:</h3>
  <p><%= @recipe.directions %></p>
  <h3>Ingredients:</h3>
  <% for r in @recipe.recipe_ingredients %>
    <h4><%= link_to r.ingredient.name, ingredient_path(r.ingredient)%>, <%= r.quantity%></h4>
  <% end %>
  <h3>Was This Recipe Useful?
    <%= link_to "", { :controller => 'recipes',  :action=>"upvote",
        :recipe_id => @recipe.id} , :method => :post, :class => "glyphicon glyphicon-thumbs-up"%>
    <%= link_to "", { :controller => 'recipes',  :action=>"downvote",
        :recipe_id => @recipe.id} , :method => :post, :class => "glyphicon glyphicon-thumbs-down"%>
  </h3>
</div
