<div class="row outlined-section">
  <div class="col-sm-6 text-left">
    <a href="#" class="js-previous btn btn-primary btn-sm" data-id="<%=@recipe.id%>">Previous</a><br><br>
  </div>
  <div class="col-sm-6 text-right">
    <a href="#" class="js-next btn btn-primary btn-sm" data-id="<%=@recipe.id%>">Next</a><br><br>
  </div>

  <h1><span class="recipeName"><%= @recipe.name %></span>

  <% if @recipe.user_id == @current_user.id %>
    <%= link_to "Edit", { :controller => 'recipes',  :action=>"edit",
       :id => @recipe.id}, :class => "btn btn-outline-info fas fa-edit" %>
    <%= link_to "Delete", { :controller => 'recipes',  :action=>"destroy",
       :id => @recipe.id} , :method => :delete, :class => "btn btn-outline-warning fas fa-trash-alt" %>
  <% end %> </h1>


  <h4><b>Upvotes: <span class="recipeUpvotes"><%=@recipe.upvotes%></span></b></h4>
  <h5>Created By: <span class="recipeUser"><%=@recipe.user.name%></span></h5>
  <h3>Description:</h3>
  <p><span class="recipeDescription"><%= @recipe.description %></span></p>
  <h3>Directions:</h3>
  <p><span class="recipeDirections"><%= @recipe.directions %></span></p>
  <div class="recipe-ingredients-list">
  <h3>Ingredients:</h3>

  <div id="ri-list">
  </div>

  <div id="ri-original">
  <% for r in @recipe.recipe_ingredients %>
    <h4><%= link_to r.ingredient.name, ingredient_path(r.ingredient)%>, <%= r.quantity%></h4>
  <% end %>
  </div>
  <% if @recipe.user_id == @current_user.id %>
    <h4><b><%= link_to "+ Add Ingredients", new_recipe_recipe_ingredient_path(@recipe.id)%> </b></h4>
  <% end %>
  </div>

  <h3>Was This Recipe Useful?
    <%= link_to "", { :controller => 'recipes',  :action=>"upvote",
        :recipe_id => @recipe.id} , :method => :post, :class => "glyphicon glyphicon-thumbs-up"%>
    <%= link_to "", { :controller => 'recipes',  :action=>"downvote",
        :recipe_id => @recipe.id} , :method => :post, :class => "glyphicon glyphicon-thumbs-down"%>
  </h3><br>

  <div class="reviews">
    <% if @current_user %>
      <h4>Add a review:</h4>
        <%= form_for @review, url: recipe_reviews_path(@recipe, @review)  do |f| %>
          <p><strong>Title</strong> <%= f.text_field :title, class: 'reviewBox form-control' %></p>
          <p><strong>Content</strong> <%= f.text_area :content, class: 'reviewBox form-control' %></p>
          <button type="submit" class="btn btn-sm btn-primary">Post Review</button>
        <% end %><br>
    <% else %>
      <p>Please log in order to add a review.</p>
    <% end %>

    <h4>Reviews:</h4>
    <div id="submitted-reviews">
      <% @recipe.reviews.each do |review| %>
      <div class="well well-white" id="review-<%= review.id %>">
        <h4><%= review.title %></h4>
        <p><%= review.content %></p>
        <strong> - <%= review.user.name %> </strong>
      </div>
      <% end %>
    </div>

  </div>

</div>
