<div class="container">
  <h1>Hi <%= @current_user.name %></h1>
  <% if @current_user.recipes.empty? %>
    <h3>You have not created any recipies yet.</h3>
  <% else %>
    <h3>Your Recipes: </h3>
    <ul>
    <% for r in @current_user.recipes%>
      <li>
        <h4><%= link_to r.name, recipe_path(r) %></h4>
      </li>
    <% end %>
    </ul>
  <% end %>
  <br>
  <h3>Check Out These Popular Recipes: </h3>
  <% for r in Recipe.all.most_popular%>
    <h4><%= link_to r.name, recipe_path(r) %>, <%= r.upvotes%> upvotes</h4>
    <p>
      <%= truncate(r.description, length: 120, omission: "... "){ link_to "Read More", recipe_path(r.id) } %>
      </p>
      <br>
  <% end %>

</div>
