<!DOCTYPE html>
<html>
  <head>
    <title>Bartender</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <% if logged_in? %>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">

        <li><a class="nav-link"><%= link_to "Home", user_path(@current_user.id) %></a></li>
        <li><a class="nav-link"><%= link_to "New Recipe", new_recipe_path %></a></li>
        <li><a class="nav-link"><%= link_to "All Recipes", recipes_path %></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a><%= link_to "Log out", logout_path, method: :delete %></a></li>
      </ul>
    </div>
  </nav>
  <% end %>

  <body>
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
